<div class="join-game-container">
  <h1 class="open-games">Open Games</h1>
  <%= button_to "Start a New Game", games_path, class: "btn btn-success join-game-btn" %>
</div>
<hr />
<% @games.each do |game| %>
  <% user= User.find(game.white_player_id) %>
  <% next if game.black_player_id || user == current_user %>
  <div class="booyah-box ">
    <p>Player: <%= user.screen_name %></p>
    <%= form_for game do |f| %>
      <%= f.hidden_field :black_player_id, value: current_user.id %>
      <%= f.submit "Join Game" %>
    <% end %>
  </div>
<% end %>
